<router-outlet></router-outlet>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>Listado de Usuarios</h3>
        </div>
        <div class="col text-end">
            <a routerLink="registrar-usuario" class="btn btn-primary">Nuevo Usuario</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of usuarios">
                <td>{{item.apellido}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.email}}</td>
                <td>{{item.idRol}}</td>
                <td>
                    <a href="/editar-usuario/1" class="btn btn-warning btn-sm" cl>
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminarUsuarioModal" (click)="confirmarEliminarUsuario(item.id)">
                        <i class="bi bi-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para confirmar eliminación -->
<div class="modal fade" id="eliminarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="eliminarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarUsuarioModalLabel">Eliminar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>